.faq {
    padding: 80px 0;
    background-color: #D1EAC9;
    
    &__container {
    }

    &__title {
        text-align: center;
        margin-bottom: 30px;
    }

    &__content {
    }

    &__accordeon {
        margin-bottom: 20px;
        border-bottom: 1px solid $black;
        // padding-bottom: 20px;
    }

    &__accordeon-button {
        padding: 20px;
        display: inline-flex;

        width: 100%;
        font-size: 20px;
        font-weight: bold;
        color: $black;
        padding-right: 24px;
        // margin-bottom: 20px;

        position: relative;
        @include transition;
        &.active {
            &::after {
                transform: translateY(-50%) rotate(0deg);
            }
        }
        &::after {
            content: "";
            position: absolute;
            top: 50%;

            right: 0;
            @include transition;
            background-image: url(../images/arrow.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 24px;
            height: 24px;
            transform: translateY(-50%) rotate(-90deg);
        }
    }

    &__accordeon-answer {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease-out;
        font-size: 20px;

        padding: 0 20px;
        p {
            padding-bottom: 20px;
        }
        // padding: 0 20px 20px 20px;
    }
}
