@font-face {
    font-family: "Alem";
    src:
        url(../fonts/alem-regular.woff) format("woff"),
        url(../fonts/alem-regular.woff2) format("woff2");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Alem";
    src:
        url(../fonts/alem-bold.woff) format("woff"),
        url(../fonts/alem-bold.woff2) format("woff2");
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}
